.projects {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  padding-left: 15px;
  opacity: 0;
  transform: translateY(-20px);
}
.animate {
  animation: fadeInUp 2s forwards;
}
.projects__container {
  margin-bottom: 2rem;
}
.title__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}

.date {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  color: #6b6b6b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin-bottom: 5px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 637px) {
  .title {
    font-size: 1.5rem;
  }
  .date {
    font-size: 0.7rem;
  }
  .content {
    font-size: 0.8rem;
  }
}
@media (max-width: 523px) {
  .title {
    font-size: 1.2rem;
  }
  .date {
    font-size: 0.6rem;
  }
}
@media (max-width: 447px) {
  .title {
    font-size: 1rem;
  }
  .date {
    font-size: 0.6rem;
  }
}
@media (max-width: 410px) {
  .title {
    font-size: 0.8rem;
  }
  .date {
    font-size: 0.5rem;
  }
}
